@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */

.dark {
  --main-text: 238, 238, 238; /* Light Grey for main text */
  --cta-background: 26, 26, 26; /* Black for CTA background */
  --cta-primary: 45, 45, 45; /* Dark Grey for primary button or CTA */
  --cta-secondary: 238, 238, 238; /* Light Grey for secondary button or CTA */
  --cta-border: 238, 238, 238; /* Light Grey for border */
}

.light{
  --background: 0, 255, 0;
  --main-text: 0, 200, 0;
  --cta-background: 0, 255, 0;
}