@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */

.dark {
  --main-text: 228, 228, 228; 
  --cta-background: 26, 26, 26; 
  --cta-primary: 45, 45, 45; 
  --cta-secondary: 225, 225, 225;
  --cta-tertiary: 100, 55, 100;
  --cta-border: 238, 238, 238;
  --cta-button: 255, 161, 22; 
}

.light {
  --main-text: 26, 26, 26;           
  --cta-background: 250, 250, 250;  
  --cta-primary: 235, 235, 235;    
  --cta-secondary: 45, 45, 45;       
  --cta-tertiary: 220, 175, 220; 
  --cta-border: 100, 100, 100;       
  --cta-button: 0, 123, 255;          
}

:root {
  --transition-speed: 0.5s;
}

body {
  color: rgb(var(--main-text));
  background-color: rgb(var(--cta-background));
  transition: color var(--transition-speed), background-color var(--transition-speed);
}

button {
  background-color: rgb(var(--cta-button));
  color: rgb(var(--cta-primary));
  transition: color var(--transition-speed), background-color var(--transition-speed);
}

button:hover, #template:hover {
  transform: scale(1.01);
  box-shadow: 0 0 5px rgba(7, 113, 200, 0.5);
}

.container, textarea {
  color: rgb(var(--main-text));
  background-color: rgb(var(--cta-background));
  transition: color var(--transition-speed), background-color var(--transition-speed);
}

.card, input, select, #tagSelect {
  background-color: rgb(var(--cta-background));
  color: rgb(var(--main-text));
  border: 1px solid rgba(var(--cta-border), 0.1);
  transition: color var(--transition-speed), background-color var(--transition-speed);
}

#searchInput:hover {
  transform: scale(1.01);
  border-image: linear-gradient(135deg, rgba(255, 0, 0, 0.5), rgba(0, 0, 255, 0.5)) 1;
}

#tagSelect:hover {
  transform: scale(1.01);
  border-image: linear-gradient(135deg, rgba(255, 0, 0, 0.5), rgba(0, 0, 255, 0.5)) 1;
}

#tag {
  background-color: rgb(var(--cta-primary));
  color: rgb(var(--main-text));
  transition: color var(--transition-speed), background-color var(--transition-speed);
}

#template {
  background-color: rgb(var(--cta-tertiary));
  color: rgb(var(--main-text));
  transition: color var(--transition-speed), background-color var(--transition-speed);
}

#navbar {
  background-color: rgb(var(--cta-primary), 0.5);
  color: rgb(var(--main-text));
  transition: color var(--transition-speed), background-color var(--transition-speed);
}

#navButton {
  background-color: transparent;
  color: rgb(var(--cta-button));
  padding: 10px 20px;
  border: 1px solid rgba(var(--cta-border), 0.2);
  font-weight: bold;
  transition: none;
}

#navButton:hover, #navButton.active {
  background-color: rgb(var(--cta-primary));
  box-shadow: 0 0 5px rgba(7, 113, 200, 0.5);
}

.border {
  border: 1px solid rgba(var(--cta-border), 0.2);
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

/* Transparent scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(var(--cta-secondary), 0.2);
  border-radius: 5px;
}