@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */

.dark {
  --main-text: 238, 238, 238; 
  --cta-background: 26, 26, 26; 
  --cta-primary: 45, 45, 45; 
  --cta-secondary: 238, 238, 238; 
  --cta-border: 238, 238, 238;
  --cta-button: 255, 161, 22; 
}

.light {
  --main-text: 26, 26, 26;           
  --cta-background: 238, 238, 238;  
  --cta-primary: 255, 255, 255;    
  --cta-secondary: 45, 45, 45;        
  --cta-border: 200, 200, 200;       
  --cta-button: 0, 123, 255;          
}
